@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
* {font-family: 'JetBrains Mono', monospace;}

table{
    border-collapse: collapse;
    width: 100%;
    font-family: monospace;
    font-size: 25px;
    text-align: center;
}
th, td{
    padding: 8px;
    text-align: center;
    border: 1px solid black;
    font-size: 10px;
}
p{
    font-size: 10px;
}
.selected{
    background-color: #a3ff87;
}