@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
* {font-family: 'JetBrains Mono', monospace;}
section, div {border: 3px solid black;}
section {margin-top: 1.25vw;}
a {text-decoration: none;}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}
#userInfo {
    user-select: none;
    width: 95vw;
    height: 5vh;
    display: grid;
    grid-template-columns: repeat(4, 25%);
}
#userInfo { grid-template-columns: repeat(4, 25%); }

#userInfo > a { background-color: lightgrey;transition: .35s all;color: black; }
#userInfo > a:hover { background-color: lightslategrey;color: whitesmoke; }

#userInfo > li,
#userInfo > a {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .35s all;
}
img{
    width: 9%;
    height: 9%;
    object-fit: cover;
}